<div class="app-content">

    <md-toolbar color="primary">
        <a href="http://raleighnc.gov">
            <span>
            <md-icon svgIcon="city_seal"></md-icon>
            </span>
        </a>

        <span>Solid Waste Services</span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    </md-toolbar>

    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openDialog('about')">
        <md-icon>info_outline</md-icon>
        <span>About</span>
        </button>
        <button md-menu-item (click)="openDialog('help')">
            <md-icon>help</md-icon>
      <span>Need Help?</span>
        </button>
    </md-menu>

    <md-card class="app-input-section">
        <form (ngSubmit)="save()" #thisform="ngForm">

            <h2>Choose the type of missed collection </h2>
            <md-select name="problemSid" [(ngModel)]="user.problemSid" placeholder="Missed Collection Type">
                <md-option *ngFor="let problemSid of problemSid" [value]="problemSid.value">
                    {{problemSid.display}}
                </md-option>
            </md-select>

            <p></p>
            <div *ngIf="user.problemSid == 'garbage' || user.problemSid == 'recycling'">
                <p>Garbage/Recycling link and info </p>
            </div>
            <div *ngIf="user.problemSid == 'yard'">
                <p>Yard Waste link and info</p>
            </div>
            <br>



            <!--<h2>Choose the type of missed collection</h2>
            <md-select name="problemSid" [(ngModel)]="user.problemSid" floatPlaceholder="never">
                <md-option *ngFor="let problemSid of problemSid" [value]="problemSid.value">
                    {{problemSid.display}}
                </md-option>
            </md-select>
            <p></p>
            <div *ngIf="user.problemSid == 'garbage' || user.problemSid == 'recycling'">
                <p>Garbage/Recycling link and info </p>
            </div>
            <div *ngIf="user.problemSid == 'yard'">
                <p>Yard Waste link and info</p>
            </div>
            <br>-->
            <!--or if all three selected show both-->
            <!--
    <md-card *ngIf="user.problemsid != '' || user.problemsid == 'garbage' && user.problemsid == 'recycling'" class="app-input-section">
        {{user.problemsid}}-->
            <!--<div *ngIf="user.problemsid == 'garbage' || user.problemsid == 'recycling' || user.problemsid == 'garbage,recycling'">Garbage/Recycling link and info</div>
        <div *ngIf="user.problemsid == 'yard'">Yard Waste link and info</div>-->
            <!--</md-card>-->




            <md-input-container>
                <input mdInput placeholder="First name" type="text" name="firstname" [(ngModel)]="user.callerFirstName">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Last name" type="text" name="lastname" [(ngModel)]="user.callerLastName" required>
            </md-input-container>
            <p>
                <md-input-container class="wider" hintLabel="ex. 123 Main St.">
                    <input mdInput [formControl]="myControl" [mdAutocomplete]="auto" (change)="zoomToMap()" placeholder="Street Address" mdTooltip="You only need to enter your street number and street name" mdTooltipPosition="right" type="text" name="address" [(ngModel)]="user.address"
                        [(ngModel)]="user.callerAddress" required>
                </md-input-container>
                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let addressOptions of filteredOptions | async" [value]="addressOptions">
                        {{ addressOptions }}
                    </md-option>
                </md-autocomplete>
                <md-input-container>
                    <input mdInput placeholder="City" type="text" name="callerCity" [(ngModel)]="user.callerCity" [(ngModel)]="user.city">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="State" type="text" name="callerState" [(ngModel)]="user.callerState" [(ngModel)]="user.state">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Zip" type="text" name="callerZip" [(ngModel)]="user.callerZip" [(ngModel)]="user.zip">
                </md-input-container>
            </p>
            <p>
                <md-input-container>
                    <input mdInput placeholder="Email" type="text" name="email" [(ngModel)]="user.callerEmail">
                </md-input-container>
            </p>
            <md-input-container>
                <input mdInput placeholder="Phone Number" type="text" name="phone" [(ngModel)]="user.callerWorkPhone">
            </md-input-container>
            <p>
                <md-input-container>
                    <textarea mdInput placeholder="Comments" type="text" name="comments" [(ngModel)]="user.callerComments"></textarea>
                </md-input-container>
            </p>
            <!--<button md-raised-button color="primary" type="submit" (click)="save(f.value, f.valid)">Submit</button>-->
            <button md-raised-button color="primary" type="submit" class="btn btn-success" [disabled]="!thisform.form.valid">Submit</button>
            <md-progress-bar *ngIf="!isDone && submitted" class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example"></md-progress-bar>

        </form>
    </md-card>

    <!--<h2>Property Information</h2>
        <md-autocomplete ng-disabled="false " md-no-cache="false " md-selected-item="app.selectedAddress " md-search-text="app.addressText " md-selected-item-change="app.addressSelected(address) " md-items="address in app.addressSearch(app.addressText)
                " md-item-text="address.attributes.ADDRESS "
            md-min-length="4 " md-autoselect="true " placeholder="Enter and select the property address ">
            <span md-highlight-text="searchText ">{{address.attributes.ADDRESS}}</span>
        </md-autocomplete>
        <p/>-->

    <md-card *ngIf="isDone " class="app-input-section ">
        <!--isDone = {{isDone}}-->
        <!--<div *ngIf="isDone ">Your Service Request ID is {{authResponse.Value.Token | json}}</div>-->
        <div *ngIf="isDone ">Your Service Request ID is {{authResponse.requestId | json}}</div>


    </md-card>

    <md-card class="app-input-section ">
        <app-esri-map></app-esri-map>
    </md-card>

</div>