<div class="app-content">

    <md-toolbar color="primary">
        <a href="http://raleighnc.gov">
            <span>
            <md-icon svgIcon="city_seal"></md-icon>
            </span>
        </a>

        <span>Solid Waste Services</span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    </md-toolbar>

    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openDialog('about')">
        <md-icon>info_outline</md-icon>
        <span>About</span>
        </button>
        <button md-menu-item (click)="openDialog('help')">
            <md-icon>help</md-icon>
      <span>Need Help?</span>
        </button>
    </md-menu>

    <md-card>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

            <h2>Choose the type of missed collection </h2>
            <md-select formControlName="problemSid">
                <md-option *ngFor="let problemSid of problemSids" [value]="problemSid.value">
                    {{problemSid.display}}
                </md-option>
            </md-select>

            <div *ngIf="myForm.controls.problemSid.value == '263551' || myForm.controls.problemSid.value == '263553'">
                <p>
                    <a href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/GarbagePreparation.html" target="_blank">Garbage/Yard Waste link and info </a>
                </p>
            </div>
            <div *ngIf="myForm.controls.problemSid.value == '263552'">
                <p>
                    <a href="http://www.raleighnc.gov/home/content/SolidWaste/Articles/RecyclePages.html" target="_blank">Recycling Waste link and info</a>
                </p>
            </div>

            <md-input-container class="wider" hintLabel="ex. 123 Main St.">
                <input mdInput type="text" (change)="zoomToMap()" formControlName="callerAddress" [mdAutocomplete]="auto" placeholder="Street Address">
            </md-input-container>
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let addressOptions of filteredOptions | async" [value]="addressOptions">
                    {{ addressOptions }}
                </md-option>
            </md-autocomplete>
            <md-input-container>
                <input mdInput type="text" formControlName="callerCity" placeholder="City">
            </md-input-container>

            <md-input-container>
                <input mdInput type="text" formControlName="callerState" placeholder="State">
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" formControlName="callerZip" placeholder="Zip" type="number">
            </md-input-container>

            <md-card>
                <app-esri-map></app-esri-map>
            </md-card>
            <p>
                <md-input-container>
                    <input mdInput type="text" formControlName="callerFirstName" placeholder="First Name">
                </md-input-container>
            </p>
            <md-input-container>
                <input mdInput type="text" formControlName="callerLastName" placeholder="Last Name">
            </md-input-container>
            <p>
                <md-input-container>
                    <input mdInput type="text" formControlName="callerEmail" placeholder="someone@somewhere.com">
                </md-input-container>
            </p>
            <p>
                <md-input-container>
                    <input mdInput type="text" formControlName="callerWorkPhone" placeholder="Phone #" type="number">
                </md-input-container>
            </p>
            <md-input-container>
                <textarea mdInput type="text" formControlName="comments" placeholder="Comments"></textarea>
            </md-input-container>
            <p>
                <button md-raised-button color="primary" type="submit" class="btn btn-success" [disabled]="!myForm.valid || submitted">Submit</button>
            </p>
            <p>
                <md-progress-bar *ngIf="!isDone && submitted" class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example"></md-progress-bar>
            </p>
        </form>
        <!--</md-card>-->

        <!--<md-card *ngIf="isDone">-->
        <div *ngIf="isDone && authResponse.requestId == ''">There was a problem generating your Service Request. Please try again. {{authResponse.message}}</div>
        <div *ngIf="isDone && authResponse.requestId != ''">Your Service Request ID is {{authResponse.requestId | json}}</div>
    </md-card>
</div>