<ng-container *ngFor="let card of cards; let i = index">
    <md-card *ngIf="i === cardIndex" class="example-card">
        <md-card-header>
            <md-card-title>
                <h3>Building Occupancy {{card.cardindex + 1}}</h3>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <form>
                <p>
                    <md-select placeholder="Building Type" [(ngModel)]="card.building" name="building" (ngModelChange)="buildingTypeChanged(card)">
                        <md-option *ngFor="let building of getBuildingTypes(iccbvd, isResidential, cards.length)" [value]="building">
                            {{building.group}}
                        </md-option>
                    </md-select>
                </p>
                <p>
                    <md-select [disabled]="card.building.values.length === 0" placeholder="Construction Type" [(ngModel)]="card.construction" name="construction" (ngModelChange)="calcValuation(card.construction.value, card)">
                        <md-option *ngFor="let value of card.building.values" [value]="value">
                            {{value.key}}
                        </md-option>
                    </md-select>
                </p>
                <p>
                    <md-select placeholder="Construction Scope" [(ngModel)]="card.constructScope" name="scope" (ngModelChange)="calcValuation(card.construction.value, card)">
                        <md-option *ngFor="let scope of scopes" [value]="scope">
                            {{scope.name}}
                        </md-option>
                    </md-select>
                </p>
                <p>
                    <md-input-container>
                        <input type="number" min="0" max="9999999" mdInput maxlength="7" placeholder="Square Feet" [(ngModel)]="card.squareFeet" name="squareFeet" (ngModelChange)="calcValuation(card.construction.value, card)">
                    </md-input-container>
                </p>
            </form>
        </md-card-content>
        <md-card-actions style="margin:0 auto;">
            <button md-icon-button (click)="getPreviousCard()" *ngIf="cards.length > 1 && cardIndex > 0" mdTooltip="Previous Building Type"><md-icon>keyboard_arrow_left</md-icon></button>
            <button md-icon-button (click)="getNextCard()" *ngIf="cards.length > 1 && cardIndex != cards.length - 1" mdTooltip="Next Building Type"><md-icon>keyboard_arrow_right</md-icon></button>
            <button md-button (click)="addCard()" mdTooltip="Add Building Type" *ngIf="card.building && card.construction && card.constructScope && card.squareFeet">ADD</button>
            <button md-button (click)="removeCard(cards, i)" *ngIf="cards.length > 1" mdTooltip="Remove Building Type">REMOVE</button>
        </md-card-actions>
    </md-card>
</ng-container>