<!--<h1>
    Esri JSAPI with
    <a href="https://github.com/tomwayson/angular2-esri-loader" target="_blank">
        <code>angular2-esri-loader</code>
    </a>
</h1>-->

<div *ngIf="day != ''">Your Garbage collection day is {{ day }}.</div>
<br/>
<div *ngIf="week != ''">{{week}}
    <p>
        Click <a href="http://www.raleighnc.gov/services/content/SolidWaste/Articles/ServiceSchedule.html">here</a> to get more information on Service Day Schedules.
    </p>
</div>
<br/>
<div #mapViewNode></div>