/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";*/

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/*@import "~https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css";*/

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

md-card {
    max-width: 400px;
    /*max-width: 33.3%;*/
    margin: 20px;
    /*margin: 6em auto;*/
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.md-card-header {
    text-align: center;
}

md-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.myspan {
    text-align: center;
}

.map-md-card {
    /*max-width: 500px;*/
    max-width: 80%;
    margin: 10px;
    /*margin: 6em auto;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}