<html>
<!--<p>This is a dialog</p>
<p>
    <label>
      {{title}}
      <p>
      {{test}}
      </p>
        This is a text box inside of a dialog.
        <input #dialogInput>
        <md-spinner color="accent" class="app-spinner" mode="indeterminate"></md-spinner>
      </label>
</p>
<p> <button md-button (click)="dialogRef.close(dialogInput.value)">CLOSE</button> </p>-->

<div class="row">

    <h2>Facts about missed pickup requests</h2>

    <ul style="list-style-type:disc">
        <li>This is an automated system that submits a Service Request into a Work Order system used by City of Raleigh staff. Your request will be automatically assigned to the appropriate supervisor and dispatched to a field crew member to execute the work
            requested.
        </li>

        <li>Your requested item pickup will be collected within two business days, not including weekends."</li>

        <li>Your garbage, yard waste and/or recycling containers must be placed at least 5 feet from any objects to be collected. The City of Raleigh’s policy is to collect your items on your next scheduled day of service. Your container must be at the curb
            by 7am on the day of collection.
        </li>
        <li>
            On the missed pickup request form the Email address field is not required. However, if you submit your Email address in the missed pickup form, you will be contacted via automated email when your Service Request is created, reassinged to another staff
            member and when it is closed.
        </li>
    </ul>

    <!-- <a href='https://github.com/CORaleigh/missedcollection'>Github</a> -->
    <p>Still have questions? Call us at 919-996-3420
    </p>
    <p> Or <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email</a> us.

    </p>

    <div>
        <p>Designed and developed by the City of Raleigh<a href="http://www.raleighnc.gov/services/content/Departments/Articles/InformationTechnology.html" target="_blank">Information Technology</a> division &copy;2017</p>
        <p>Developed in partnership with the City of Raleigh Solid Waste Services division</p>
    </div>

</div>

</html>