<html>
<!--<p>This is a dialog</p>
<p>
    <label>
      {{title}}
      <p>
      {{test}}
      </p>
        This is a text box inside of a dialog.
        <input #dialogInput>
        <md-spinner color="accent" class="app-spinner" mode="indeterminate"></md-spinner>
      </label>
</p>
<p> <button md-button (click)="dialogRef.close(dialogInput.value)">CLOSE</button> </p>-->

<div class="row">

    <h2>General Information on missed pickup requests</h2>

    <ul style="list-style-type:disc">
        <li>This is an automated system that submits a Service Request ticket to a Work Order system used by City of Raleigh staff. Your request will be automatically assigned to the appropriate supervisor and dispatched to a field crew member to execute
            the work requested.
        </li>

        <li>Your requested item pickup will be collected within two business days, not including weekends.</li>

        <li>Your garbage, yard waste and/or recycling containers must be placed at least 5 feet from any objects to be collected. Your container must be at the curb by 7am on the day of collection.
        </li>
        <li>
            On the missed pickup request form the email address field is not required. However, if you submit your email address you will be sent an automated email when your Service Request is created and completed.
        </li>
    </ul>

    <!-- <a href='https://github.com/CORaleigh/missedcollection'>Github</a> -->
    <p>Still have questions?

    </p>
    <p> Send us an <a href="mailto:customercare@raleighnc.gov?Subject=Missed%20Pickup%20Web%20Form%20Customer%20Inquiry" target="_top">Email</a> or give us a call:<br>Phone:<br> 919-996-3425
    </p>
    <p>
        Office Location:<br> 630 Beacon Lake Drive<br> Raleigh, NC 27610
    </p>
    <p>
        Mailing Address:<br> PO Box 590<br> Raleigh, NC 27602-0590
    </p>


    <div>
        <h6>Designed and developed by the City of Raleigh <a href="http://www.raleighnc.gov/services/content/Departments/Articles/InformationTechnology.html" target="_blank">Information Technology</a> division &copy;2017 in partnership with the City of Raleigh
            Solid Waste Services division</h6>
    </div>

</div>

</html>