.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background: #666;
    background: -moz-radial-gradient(50% 50%, circle, #888, #666);
    background: -webkit-radial-gradient(50% 50%, circle, #888, #666);
    background-size: cover;
    color: white;
}